





/* .nav_links .bottom{
    position: relative;
    width: 80px;
    height: 2px;
    border-top-left-radius: 2px;
    border-top-right-radius: 2px;
    border-bottom-left-radius: 2px;
    border-bottom-right-radius: 2px;
    border-top: 2px;
    bottom: 0;
    background-color:#0C2120 ;
    left: 18px;
    
} */





/* .nav_links li:nth-child(2):hover ~ .bottom{

    left: 140px;
    width: 120px;
}

.nav_links li:nth-child(3):hover ~ .bottom{

    left: 310px;
    width: 65px;
}

.nav_links li:nth-child(4):hover ~ .bottom{

    left: 425px;
    width: 72px;
} */



/* ------------------------------------------ */



/* ------------------------------------------ */