@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap');

* {
    box-sizing: border-box;
}

.nav_bar_background{
    background-color: #EDEDED;
}

.work{
    padding: 15px 10%;
    background-color: #EDEDED;
}

.title{
    padding-bottom: 60px;
}


.work .work_types{

    display: block;
    width: 100%;
    margin-bottom: 150px;
}



.app_design{
    display: inline-block;
    padding: 10px;
    width: 24%;
    height: 220px;
    background-color: #D58D48;
    border-radius:10%;
    margin-right: 10px;
}



.app_design .work_name1, .work_desc1{
    margin: 0;
    padding-left: 20px;
    padding-bottom: 0px;
    color: #ffffff;
    background-color:#D58D48 ;
    
    
}



.web_design{

    display: inline-block;
    padding: 10px;
    width: 24%;
    height: 220px;
    background-color: #284051;
    border-radius:10%;
    margin-right: 10px;
}

.web_design .work_name2, .work_desc2{
    margin: 0;
    padding-left: 20px;
    padding-bottom: 0px;
    color: #ffffff;
    background-color:#284051 ;
    
}

    

.app_dev{

    display: inline-block;
    padding: 10px;
    width: 24%;
    height: 220px;
    background-color: #48BCD5;
    border-radius:10%;
    margin-right: 10px;
}


.app_dev .work_name3, .work_desc3{
    margin: 0;
    padding-left: 20px;
    padding-bottom: 0px;
    color: #ffffff;
    background-color:#48BCD5 ;
    
}

.web_dev{

    display: inline-block;
    padding: 10px;
    width: 24%;
    height: 220px;
    background-color: #B0D548;
    border-radius:10%;
    margin-right: 10px;
}

.web_dev .work_name4, .work_desc4{
    margin: 0;
    padding-left: 20px;
    padding-bottom: 0px;
    color: #ffffff;
    background-color:#B0D548 ;
    
}














.app_design  .web_design .app_dev .web_dev .work_name{
    font-size: 25px;
    padding-left: 10px;
    padding-top: 10px;
  

}

.app_design .web_design .app_dev .web_dev .work_desc{
    font-size: 15px;
    padding-left: 10px;
    font-weight: lighter;

}

/* .app_design_title{

    margin: 0px;
    padding: 0px;
    background-color:#D58D48 ;
} */